* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://media.istockphoto.com/photos/clouds-and-bright-blue-sky-background-panoramic-angle-view-picture-id1026330454?k=6&m=1026330454&s=612x612&w=0&h=14tGPeQ0xZU-AIXgWxfpa0NETPvsSPDzM3zRvOvUXB0=");
    background-size: cover;
    color: black;
}


.genCards {
    opacity: 0.6;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.genHistory {
    opacity: 0.6;
}

#clearLink {
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
}

#clearLink:hover {
    background: none;
    color: whitesmoke;
    opacity: 0.8;
}

.shiftRight {
    position: relative;
    right: -250px;
    margin-top: 10px;
}

#searchCities:hover {
    background: none;
    color: whitesmoke;
    opacity: 0.8;
}
